h6{font-family: arial}

h2{font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color: black;
    text-align: center;
}
h1{font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color: rgb(64,64,64);
  text-align: center;
  }
#geral{margin-left: auto;
  }
h1.negrito{font-family: 'Montserrat', sans-serif;
  font-size:20px;
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  }
h1.negrito2{
  font-family: 'Montserrat', sans-serif;
  font-size:10px;
  color: rgb(64,64,64);
  text-align: left;
  font-weight: bold;
  }
p{font-family: 'Montserrat', sans-serif;
  font-size:15px;
  color: rgb(100, 100, 100);

  }

.novidades{
  top: 900px;
  position: absolute;
  left: 42%;
}
/*
a:hover.comprar, a:active.comprar{
  border-radius: 1px;
  border-style: solid;
  color: rgb(0, 0, 0);
  padding-bottom: 150px;
  padding-top: 350px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #bbbbbb00;
}


a:hover.comprar2, a:active.comprar2{
  border-radius: 1px;
  border-style: solid;
  color: rgb(0, 0, 0);
  border-left: 10px;
  border-right: 10px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #bbbbbb00;}*/


/*Link logo*/
a:hover.logo, a:active.logo{
  border-radius: 0px;
  background-color: #bbbbbb00;
  color: rgb(0, 0, 0);
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 0px;
  font-family: none;
 }

/*Links geral, pegando o cabeçalho*/
a:hover, a:active{
  border-radius: 30px;
  background-color: #bbbbbb;
  color: rgb(0, 0, 0);
  padding-bottom:3;
  padding-top: 3;
  padding-left: 1;
  padding-right: 1;
  top: 50px;
  left: 200px;
  right: 200px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
 }

 a:link, a:visited{
  color: rgb(0, 0, 0);
  font-size: 20px;
  top: 50px;
  left: 200px;
  right: 200px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
 }

/*Aqui começa o menu dropdown*/
.dpmenu  ul{
  list-style-type: none;
  background-color: #edf6f9;
  padding: 0px;
  position: absolute;
  transition: background 0.3s;
  text-align: left;
 }

.dpmenu ul li{
  display: inline; 
  position: relative;
 }

 .dpmenu ul li a{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
 }

 .dpmenu ul li a:hover{
  display: inline-block;
  background-color: #edf6f9;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
 }

/*SUBMENU*/
.dpmenu  ul ul{
  display: none;
  left: 0px;
  position: absolute;
  
 }

 .dpmenu  ul li:hover ul{
  display: block;
 }

 .dpmenu  ul ul {
  width: 150px;
  background-color: #edf6f9;
  text-align: center;
 }

 .dpmenu  ul ul li {
  display: block;
  top: 0px;
  text-align: center;
 }

 .mariazinha{
  width: 900px;
 }

 /*Aqui começa o cabeççalho */
#cabecalho{
  width: 100%;
  height: 125px;
  background-color: #edf6f9;
  position: fixed;
  top: 0px;
  box-shadow: rgba(111, 111, 111, 0.09) 0px 2px 1px, rgba(111, 111, 111, 0.09) 0px 4px 2px, rgba(111, 111, 111, 0.09) 0px 8px 4px, rgba(111, 111, 111, 0.09) 0px 16px 8px, rgba(111, 111, 111, 0.09) 0px 32px 16px;
  right: 0px;
  left: 0px;
  z-index: 10;
}
/*Aqui começa as divs do cabçalho*/
 .div1{
  left: 50px;
  position: absolute;
  top: 10%;
}

 .div2{
  left: 400px;
  position: absolute;
  bottom: 40%;
  font-family: 'Montserrat', sans-serif;
  width: 1000px;
  height: 50px;
}

 .div3{
  right: 10px;
  position: absolute;
  bottom: 45%;
  word-spacing: 100px;
  justify-content: end;
}

/*avulso*/
 img.principal{
  top: 100px;
  position: absolute;
  margin-left: 0px;
  padding: 0px;
  width: 100%;
 }

/*Tabela div 3 - Cabeçalho*/
 table.tablediv3{
  width: 100px;
 }

/*Tabela dos beneficios no meio da home*/
 table.beneficios{
  width: 100%;
  height: 150px;
  background-color: #edf6f9;
  position: absolute;
  top: 700px;
  justify-content: center;
  text-align: center;
}

/*Aqui começa o rodapé*/
#rodape{
  width: 100%;
    height: 400px;
    background-color: #edf6f9;
    position: relative;
    top: 1600px;
    border: 1px solid rgb(190, 190, 190);
    text-align: left;
}

#rodapeparte1{
    width: 100%;
    height: 200px;
    background-color: #edf6f9;
    border: 1px solid rgb(190, 190, 190);
    position: relative;
    text-align: left;
}

#rodapeparte2{
  width: 100%;
  height: 200px;
  background-color: #edf6f9;
  border: 1px solid rgb(190, 190, 190);
  position: absolute;
  text-align: left;
}

#rodape1{
  width: 100%;
  height: auto;
  position: absolute;
}

#logorodape{
  position: absolute;
  left: 250px;
}

#pagamento{
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 150px;
  left: 250px;
  bottom: 0px;
}

table.rodape1{
  position: absolute;
  right: 100px;
  width: 900px;
  top: 70px;
}

td.rodape1{
  padding-left: 5px;
  border-collapse: separate;
}

#receba{
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 150px;
  right: 250px;
  bottom: 25px;
 }

 #atendimento{
  position: absolute;
  width: 300px;
  height: 150px;
  left: 600px;
  bottom: 0px;
 }

table.redessociais{
  width: 250px;
  position: static;
  top: auto;
  text-align: left;
 }
#seguranca{
 position: absolute;
  bottom: 0px;
  width: 300px;
  height: 150px;
  right: 250px;
  bottom: 25px;
}

#sobrenos{
  position: absolute;
  width: 300px;
  height: 170px;
  left: 600px;
  bottom: 25px;
 }

span.style{
  font-size: 2em;
 }

span.style1{
  font-size: 3em;
 }

a:hover.icone, a:active.icone{
  border-radius: 0px;
  background-color: #bbbbbb00;
  color: rgb(0, 0, 0);
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-family: none;
 }

#receba input[type="text"], #receba input[type="email"]{
  padding: 0.2em;
  border: 1px solid #4C6B75;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: block;
  height: 30px;
  width: 250px;
}

#receba input:focus, #receba select:focus{
  background: #e0e0f8;
}

.botao{
  font-size: 1.2em;
  background: #000000; 
  border: 0px;
  margin-bottom: 1em;
  color: #ffffff;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  position: absolute;
  top: 75%;
  left: 75%;
  margin-right:-50%;
  transform: translate(-50%, -50%);
  height: 30px;
  border-radius: 20px;
  height: 30px;
}

.botao:hover{
  background:#cef3ff;
  color: #000000;
  box-shadow:inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: none;
  border-radius: 20px;
  height: 30px;
}

/*parte de amostra de produto*/

table.legenda{
  width: 1289px;
  height: 100px;
  top: 1360px;
  border: 5px solid rgb(0, 62, 232);
  text-align: center;
}

table.transform-img{
  width: auto;
  height: 360px;
  top: 1000px;
  border: 5px solid rgb(228, 232, 0);
}

.transform-img-td1{
  border: 1px solid black; text-align: center; padding-right: 30px;
}

.transform-img-td2{
  border: 1px solid black; text-align: center; 
}

#transform-img{
  position: absolute;
  width: 1290px;
  height: 380px;
  top: 1000px;
  left: 150px;
  display: block;
  border: 5px solid rgb(0, 232, 50);
}
.transform-img1{
  position: relative;
  width: 290px;
  height: 360px;
  left: 0px;
  border: 1px solid rgb(0, 0, 0);
  }
.transform-img1 .seg {
  visibility: hidden;
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
  }
.transform-img1:hover .seg {
  visibility: visible;
  opacity: 1;
  }
/*
.transform-img2{
  margin-left: 50px ;
  position: absolute;
  height: 360px;
  display: block;
  left: 290px;
  border: 1px solid rgb(0, 0, 0);
  }
.transform-img2 .seg {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top:0;
  left: 0px;
  }
.transform-img2:hover .seg {
  visibility: visible;
  opacity: 1;
  }

.transform-img3{
  width: 290px;
  left: 600px;
  top: 0px;
  position: absolute;
  height: 360px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  }
.transform-img3 .seg {
  visibility: hidden;
  opacity: 0;
  position: relative;
  top:0;
  left:0;
  }
.transform-img3:hover .seg {
  visibility: visible;
  position: absolute;
  opacity: 1;
  }*/
/*Corpo da pag padrao*/


table.botoesimagens{
  position: absolute;
  width: 900px;
  height: auto;
  border-spacing: 20px;
  text-align: center;
  border: 1px solid black;
}

.botoesimagens td{
  height: 360px;
  border: 1px solid red;
}
